@model SSO.Application.ApiResource.Queries.GetApiResourceEditViewModel.ApiResourceEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <h1>Edit</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ValidationSummary")
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Command.Name" />
                    <div class="form-group">
                        <label asp-for="Command.DisplayName" class="font-weight-bold"></label>
                        <input asp-for="Command.DisplayName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.Description" class="font-weight-bold"></label>
                        <input asp-for="Command.Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Command.SelectedClaims" class="font-weight-bold"></label>
                        <br />
                        @foreach (var item in Model.Claims)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="Command.SelectedClaims" class="custom-control-input" id="defaultInline1_@item" value="@item" @(Model.Command.SelectedClaims.Contains(item) ? "checked" : "")>
                                <label class="custom-control-label" for="defaultInline1_@item">@item</label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Command.Enabled" class="custom-control-input" />
                            <label asp-for="Command.Enabled" class="custom-control-label">Enabled</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>

                <a asp-area="" asp-controller="ApiResource" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</div>