@model IEnumerable<SSO.Application.Claim.Queries.GetClaimList.ClaimListItem>

@{
    ViewData["Title"] = "Claims";
}

@section scripts{
    <script type="text/javascript" src="~/js/global.js"></script>
}

<div class="row">
    <div class="col-12 mb-3">
        <h2>Claims</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a asp-area="" asp-controller="Claim" asp-action="Create" class="btn btn-outline-primary">Create</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in Model)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td class="text-right">
                                <a asp-area="" asp-controller="Claim" asp-action="Delete" asp-route-type="@claim.Type" data-remove="true" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_RemoveConfirmModal" />