@model IEnumerable<SSO.Application.Role.Queries.GetRoleList.RoleListItem>

@{
    ViewData["Title"] = "Roles";
}

@section scripts{
    <script type="text/javascript" src="~/js/global.js"></script>
}

<div class="row">
    <div class="col-12 mb-3">
        <h2>Roles</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a asp-area="" asp-controller="Role" asp-action="Create" class="btn btn-outline-primary">Create</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td class="text-right">
                                <a asp-area="" asp-controller="Role" asp-action="Delete" asp-route-name="@role.Name" data-remove="true" class="btn btn-sm btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_RemoveConfirmModal" />