@model SSO.Application.User.Queries.GetUserCreateViewModel.UserCreateViewModel

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <h1>Create</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ValidationSummary")
    </div>
</div>

<div class="row justify-content-md-center">

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">

                <form asp-route="Create" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Command.GivenName" class="font-weight-bold"></label>
                            <input class="form-control" placeholder="GivenName" asp-for="Command.GivenName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.FamilyName" class="font-weight-bold"></label>
                            <input class="form-control" placeholder="FamilyName" asp-for="Command.FamilyName">
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.Email" class="font-weight-bold"></label>
                            <input class="form-control" placeholder="Email" asp-for="Command.Email">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Command.EmailVerified" class="custom-control-input" />
                                <label asp-for="Command.EmailVerified" class="custom-control-label">EmailVerified</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.UserName" class="font-weight-bold"></label>
                            <input class="form-control" placeholder="UserName" asp-for="Command.UserName">
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.Password" class="font-weight-bold"></label>
                            <input class="form-control" type="password" placeholder="Password" asp-for="Command.Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="Command.SelectedRoles" class="font-weight-bold"></label>
                            <br />
                            @foreach (var item in Model.Roles)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="Command.SelectedRoles" class="custom-control-input" id="defaultInline1_@item" value="@item" @(Model.Command.SelectedRoles.Contains(item) ? "checked" : "")>
                                    <label class="custom-control-label" for="defaultInline1_@item">@item</label>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Create</button>
                        </div>
                    </fieldset>
                </form>

                <a asp-area="" asp-controller="User" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</div>