@model SSO.Application.Account.Commands.Login.LoginCommand

<div class="login-page">

    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1>Sign in</h1>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            @await Html.PartialAsync("_ValidationSummary")
        </div>
    </div>
    
    <div class="row justify-content-md-center">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">

                        <form asp-route="Login" method="post">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <input type="hidden" asp-for="EnableLocalLogin" />
                            <input type="hidden" asp-for="AllowRememberLogin" />

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>Remember me</strong>
                                        </label>
                                    </div>
                                }

                                <div class="form-group">
                                    <button class="btn btn-primary" name="action" value="login">Sign in</button>
                                    <button class="btn btn-default" name="action" value="cancel">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>