@model SSO.Application.Account.Commands.Login.LoginCommand

@{
    Layout = "_AccountLayout";
}

<div class="row d-flex justify-content-center">

    <div class="col-md-6">
        <div class="card">

            <div class="card-img-top color-block blue-gradient text-white pt-4 pb-3" style="height:100px;">
                <div class="row justify-content-md-center">
                    <div class="col-sm-8">
                        <h1>Sign in</h1>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col">
                        @await Html.PartialAsync("_ValidationSummary")
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    @if (Model.EnableLocalLogin)
                    {
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">

                                    <form asp-route="Login" method="post">
                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <input type="hidden" asp-for="EnableLocalLogin" />
                                        <input type="hidden" asp-for="AllowRememberLogin" />

                                        <fieldset>
                                            <div class="md-form">
                                                <input class="form-control" asp-for="Username" autofocus>
                                                <label asp-for="Username"></label>
                                            </div>
                                            <div class="md-form">
                                                <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                                                <label asp-for="Password"></label>
                                            </div>
                                            @if (Model.AllowRememberLogin)
                                            {
                                                <div class="form-group login-remember">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" asp-for="RememberLogin" class="custom-control-input" />
                                                        <label asp-for="RememberLogin" class="custom-control-label">Remember me</label>
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                <button class="btn btn-primary" name="action" value="login">Sign in</button>
                                                <button class="btn btn-default" name="action" value="cancel">Cancel</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>