@model SSO.Application.User.Commands.ResetPassword.ResetPasswordCommand

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <h1>Change Password</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ValidationSummary")
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">

                <form asp-route="SendEmailResetPassword" method="post">
                    <input asp-for="Token" type="hidden" />
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" placeholder="NewPassword" asp-for="NewPassword" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Change Password</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>