@model SSO.Application.User.Commands.ResetPassword.ResetPasswordCommand

@{
    Layout = "_AccountLayout";
}

<div class="row d-flex justify-content-center">

    <div class="col-md-6">
        <div class="card">

            <div class="card-img-top color-block blue-gradient text-white pt-4 pb-3" style="height:100px;">
                <div class="row justify-content-md-center">
                    <div class="col-sm-8">
                        <h1>Reset Password</h1>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col">
                        @await Html.PartialAsync("_ValidationSummary")
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">

                                <form asp-route="ResetPassword" method="post">
                                    <input type="hidden" asp-for="Token" />

                                    <fieldset>
                                        <div class="md-form">
                                            <input class="form-control" asp-for="Email" autofocus>
                                            <label asp-for="Email"></label>
                                        </div>
                                        <div class="md-form">
                                            <input type="password" class="form-control" asp-for="NewPassword" autocomplete="off">
                                            <label asp-for="NewPassword"></label>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" name="action" value="login">Change Password</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>